<% stylesheet 'groups' %>
<% stylesheet 'evaluation_table' %>

<h1>Pontozás - <%= @evaluation.group.name %></h1>

<div id="content-main" class="uk-panel uk-panel-box">
  <div class="uk-width-large-1-1 uk-container-center uk-overflow-container uk-width-1-1">
    A beírt adatok automatikusan mentődnek.
    <table class="uk-table uk-table-striped uk-table-hover ">
      <thead>
        <tr>
          <th>Körtagok</th>
          <% @evaluation.principles.each do |principle| %>
            <th class="uk-text-center"><%= principle.name %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @evaluation.group.active_memberships.each do |membership| %>
          <tr>
            <td><%= membership.user.full_name %></td>
            <% @evaluation.principles.each do |principle| %>
              <td>
                <input data-user="<%= membership.user_id %>" data-principle="<%= principle.id %>"
                class="uk-input uk-width-auto point-input" type="number" value="<%=
                point_detail = @point_details.find { |pd| pd.point_request.user == membership.user && pd.principle_id == principle.id }
                point_detail.point if point_detail
                %>">
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>

<script type="text/javascript">
  var updateURL = "<%= group_evaluation_pointdetails_update_path(@group, @evaluation) %>";
</script>
