<% stylesheet 'evaluation' %>
<% stylesheet 'evaluation_table' %>

<h1>Pontozás - <%= @evaluation.group.name %></h1>

<div id="content-main" class="uk-panel uk-panel-box">
  <div class="uk-clearfix uk-margin-bottom">
    <div class="uk-float-right">
      <button class="uk-button uk-button-small" id="hidden-users-button" data-uk-modal="{target:'#hidden-users-modal'}">Elrejtett tagok</button>

      <div id="hidden-users-modal" class="uk-modal">
        <div class="uk-modal-dialog">
          <a class="uk-modal-close uk-close"></a>
          <h3>Elrejtett tagok</h3>
          <button id="showAllUsersButton" class="uk-button uk-button-success">Minden tag megjelenítése</button>
          <button id="hideUsersWithZeroPointButton" class="uk-button uk-button-primary">Ponttal nem rendelkező tagok elrejtése</button>
          <ul class="uk-list uk-list-striped" id="hidden-users-list"></ul>
        </div>
      </div>
    </div>
    <div class="uk-float-right uk-margin-right">
      <button class="uk-button uk-button-small uk-button-primary" data-uk-modal="{target:'#eval-table-info'}">Help me!</button>
      <%= render 'table_info' %>
    </div>
    <div class="uk-float-right uk-margin-right">
      <%= link_to 'Vissza', group_evaluations_current_path(current_group), class: 'uk-button uk-button-small' %>
    </div>
  </div>

  <div class="uk-grid uk-grid-collapse uk-padding-remove uk-margin-remove">
    <div id="name-list-container">
      <ul class="uk-list uk-list-striped uk-text-bold" id="name-list">
        <% @users.each do |user| %>
          <li class="uk-text-truncate name-list-item" data-id="<%= user.id %>">
            <i class="uk-icon-eye-slash hide-button uk-link uk-link-muted" data-id="<%= user.id %>" title="elrejtés" uk-tooltip></i>
            <%= user.decorate.link class: 'uk-link-muted', 'uk-tooltip': '', title: user.nickname %>
          </li>
        <% end %>
        <li data-uk-tooltip title="Kiosztott pontok összege.">
           <i class="uk-icon-info"></i> Összeg:
        </li>
        <li data-uk-tooltip title="Pontok átlaga, a körtagok között.">
          <i class="uk-icon-info"></i> Átlag, tagokra:
        </li>
        <li data-uk-tooltip title="Pontok átlaga, a kiosztott pontok között. (Akik nem kaptak pontot nem számítanak bele.)">
          <i class="uk-icon-info"></i> Átlag, pontokra:</li>
      </ul>
    </div>
    <div class="uk-overflow-container" id="points-table-container">
      <table class="uk-table uk-table-striped uk-table-hover uk-table-condensed uk-text-center" id="points-table">
        <thead class="rotated">
          <tr>
            <% @ordered_principles.each do |principle| %>
              <th class="uk-text-center uk-link uk-link-muted principle" data-id="<%= principle.id %>"
              data-description="<%= principle.description %>">
                <div>
                  <span>
                    <i class="uk-icon-info"></i>
                    <%= "(#{principle.max_per_member}) #{principle.name.truncate(20)}" %>
                  </span>
                </div>
              </th>
            <% end %>
              <th><div><span>Szumma felelősség</span></div></th>
              <th><div><span>Szumma munka</span></div></th>
              <th><div><span>Szumma pont</span></div></th>
              <th><div><span>Belépő</span></div></th>
          </tr>
        </thead>
        <tbody>
          <%@users.each do |user| %>
            <tr data-id="<%= user.id %>" class="tooltip">
              <% @ordered_principles.each do |principle| %>
                <%point_detail = user.single_detail(principle) %>
                <td>
                  <div class="uk-form-icon <%= comments_status(point_detail)%>">
                    <i class="uk-icon-comment uk-hidden"></i>
                    <input data-user="<%= user.id %>" data-principle="<%= principle.id %>"
                           data-user-name="<%= user.full_name %>"
                           data-principle-type="<%= principle.type %>"
                           class="uk-input uk-width-auto point-input" type="number"
                           value="<%= point_detail&.point %>"
                           style="<%= "background: #ccc" if principle.type == "RESPONSIBILITY"%>"
                           <%= "readonly" unless @update_point_request %>>
                    <span class="tooltiptext"><%= "(#{principle.max_per_member}) #{principle.name}" %></span>
                  </div>
                </td>
              <% end %>
              <td>
                <input disabled data-user="<%= user.id %>"
                  class="uk-input uk-width-auto uk-text-center sum-resp" type="number"
                  value="<%= user.sum_responsibility_point %>">
              </td>
              <td>
                <input disabled data-user="<%= user.id %>"
                  class="uk-input uk-width-auto uk-text-center sum-work" type="number"
                  value="<%= user.sum_work_point %>">
              </td>
              <td>
                <input disabled data-user="<%= user.id %>"
                  class="uk-input uk-width-auto uk-text-center sum-all" type="number"
                  value="<%= user.sum_all_point %>">
              </td>
              <td>
                <%= form_tag(group_evaluation_entryrequests_update_path(@group, @evaluation),
                  mehtod: :post, remote: true, html: { class: 'uk-form' }) do %>
                  <%= select_tag :entry_type, options_for_select(Rails.configuration.x.entry_types.invert,
                    user.entry_request),
                    onchange: 'javascript: $( this ).trigger("submit.rails")',
                    class: 'uk-select uk-width-auto',disabled: !@update_entry_request%>
                  <%= hidden_field_tag :user_id, user.id %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <% @ordered_principles.each do |principle| %>
              <td data-sum-principle="<%= principle.id %>">
                <b id="sum-of-principle-<%= principle.id %>">
                  <%= @evaluation_point_calculator.principle_sum( principle) %>
                </b>
              </td>
            <% end %>
            <td>
              <b><%= @evaluation_point_calculator.responsibility_point_sum %></b>
            </td>
             <td>
              <b><%= @evaluation_point_calculator.work_point_sum %></b>
            </td>
             <td>
              <b><%= @evaluation_point_calculator.all_point_sum %></b>
            </td>
          </tr>
          <tr>
            <% @ordered_principles.each do |principle| %>
              <td data-avg-principle="<%= principle.id %>">
                <b id="avg-of-principle-<%= principle.id %>">
                  <%= @evaluation_point_calculator.principle_average(principle) %>
                </b>
              </td>
            <% end %>
            <td>
              <b><%= @evaluation_point_calculator.responsibility_point_average %></b>
            </td>
            <td>
              <b><%= @evaluation_point_calculator.work_point_average %></b>
            </td>
            <td>
              <b><%= @evaluation_point_calculator.all_point_average %></b>
            </td>
          </tr>
          <tr>
            <% @ordered_principles.each do |principle| %>
              <td data-sum-principle="<%= principle.id %>">
                <b id="sum-of-principle-<%= principle.id %>">
                  <%= @evaluation_point_calculator.principle_details_average(principle) %>
                </b>
              </td>
            <% end %>
            <td>
              <b><%= @evaluation_point_calculator.responsibility_details_average %></b>
            </td>
             <td>
              <b><%= @evaluation_point_calculator.work_details_average %></b>
            </td>
             <td>
              <b><%= @evaluation_point_calculator.all_details_average %></b>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>`
  </div>
  <div id="save-icon"></div>
</div>

<div class="dark shadow" id="comment-float">
  <div class="uk-accordion" id="comment-accordion" data-uk-accordion="{showfirst:false}">
    <h3 class="uk-accordion-title uk-margin-remove">
      <div class="uk-clearfix">
        <div class="uk-float-left">
          Megjegyzések
        </div>
        <div class="uk-float-right">
          <i class="uk-icon-angle-up"></i>
        </div>
      </div>
    </h3>
    <div class="uk-accordion-content uk-padding-remove uk-overflow-container" id="comment-container">
      <div class="uk-margin-large-top uk-text-center uk-text-bold uk-text-danger">
        Nincs mező kijelölve! <br>
        Kattints duplán egy mezőre a kijelőléséhez!
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  const updateURL = "<%= group_evaluation_pointdetails_update_path(@group, @evaluation) %>";
  const initEvaluationTable = true;
  const evaluationId = <%= @evaluation.id %>
</script>
