<% stylesheet 'groups' %>
<% stylesheet 'evaluation_table' %>

<h1>Pontozás - <%= @evaluation.group.name %></h1>

<div id="content-main" class="uk-panel uk-panel-box">
  <div class="uk-width-large-1-1 uk-container-center uk-overflow-container uk-width-1-1">
    A beírt adatok automatikusan mentődnek.
    <table class="uk-table uk-table-striped uk-table-hover ">
      <thead>
        <tr>
          <th>Körtagok</th>
          <% @evaluation.principles.each do |principle| %>
            <th class="uk-text-center"><%= principle.name %></th>
          <% end %>
          <th>Szumma felelősség</th>
          <th>Szumma munka</th>
          <th>Szumma pont</th>
        </tr>
      </thead>
      <tbody>
        <% @evaluation.group.point_eligible_memberships.each do |membership| %>
          <tr>
            <td class="name-column"><%= membership.user.full_name %></td>
            <% @evaluation.principles.each do |principle| %>
              <td>
                <input data-user="<%= membership.user_id %>" data-principle="<%= principle.id %>"
                data-principle-type="<%= principle.type %>"
                class="uk-input uk-width-auto point-input" type="number" value="<%=
                  single_detail(@point_details, membership.user, principle)
                %>">
              </td>
            <% end %>
            <td>
              <input disabled data-user="<%= membership.user_id %>"
                class="uk-input uk-width-auto sum-resp" type="number"
                value="<%= sum_details(@point_details, membership.user, Principle::RESPONSIBILITY) %>">
            </td>
            <td>
              <input disabled data-user="<%= membership.user_id %>"
                class="uk-input uk-width-auto sum-work" type="number"
                value="<%= sum_details(@point_details, membership.user, Principle::WORK) %>">
            </td>
            <td>
              <input disabled data-user="<%= membership.user_id %>"
              class="uk-input uk-width-auto sum-all" type="number"
              value="<%= sum_all_details(@point_details, membership.user) %>">
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>

<script type="text/javascript">
  var updateURL = "<%= group_evaluation_pointdetails_update_path(@group, @evaluation) %>";
</script>
