<p id="notice"><%= notice %></p>

<h1>Küldöttek listázása</h1>

<table border="1" class="uk-table uk-table-striped uk-table-hover">
  <thead>
    <tr>
      <th>Név</th>
      <th>Kör</th>
      <th>E-mail cím</th>
      <th width="300" height="50">Aláírás</th>
    </tr>
  </thead>
  <tbody>
    <% @delegates.each do |u| %>
      <tr>
        <td><%= u.full_name %></td>
        <td><%= u.primary_membership.group.name %></td>
        <td><%= u.email %></td>
        <td height="40"></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @delegates %>
