<% stylesheet 'delegates', media: 'print' %>
<p id="notice"><%= notice %></p>
<div id="content-main" class="neutral-content">
<h1 class="no-print">Küldöttek listázása</h1>

<%= button_to 'Exportálás', 'javascript:window.print()', class: 'uk-button uk-button-large uk-button-primary uk-align-right' %>

<table border="1" class="uk-table uk-table-striped uk-table-hover">
  <thead>
    <tr>
      <th>Név</th>
      <th>Kör</th>
      <th>Lakcím</th>
      <th width="300" height="50">Aláírás</th>
    </tr>
  </thead>
  <tbody>
    <% @delegates.each do |u| %>
      <tr>
        <td><%= u.full_name %></td>
        <td><%= link_to u.primary_membership.group.name, group_path( u.primary_membership.group.id) %></td>
        <td><%= u.home_address %></td>
        <td height="40"></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
