<div class="uk-overflow-container">
  <table class="uk-table uk-table-striped uk-table-hover uk-text-center uk-text-nowrap">
    <thead>
      <tr>
        <th class="uk-text-left">Körtagok</th>
        <% @evaluation.principles.order(:id).each do |principle| %>
          <th><%= principle.name %></th>
        <% end %>
        <th>Szumma felelősség</th>
        <th>Szumma munka</th>
        <th>Szumma pont</th>
        <th>Belépő</th>
      </tr>
    </thead>
    <tbody>
      <% @evaluation.group.point_eligible_memberships.each do |membership| %>
        <tr>
          <td class="uk-text-left uk-text-bold"><%= membership.user.full_name %></td>
          <% @evaluation.principles.order(:id).each do |principle| %>
            <td class="col-vertical-border">
              <%= single_detail(@point_details, membership.user, principle) %>
            </td>
          <% end %>
          <td class="col-vertical-border">
            <%= sum_responsibility_details(@point_details, membership.user) %>
          </td>
          <td class="col-vertical-border">
            <%= sum_work_details(@point_details, membership.user) %>
          </td>
          <td class="col-vertical-border">
            <%= sum_all_details(@point_details, membership.user) %>
          </td>
          <td class="col-vertical-border">
            <%= Rails.configuration.x.entry_types[entry_request(@evaluation, membership.user)] %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
