<% stylesheet 'evaluation_table' %>

<div class="uk-grid uk-grid-collapse uk-padding-remove uk-margin-remove">
  <div id="name-list-container">
    <ul class="uk-list uk-list-striped uk-text-bold" id="name-list">
      <% @users.each do |user| %>
        <li class="uk-text-truncate name-list-item" data-user="<%= user.id %>">
          <%= user.link target: :_blank, class: 'uk-link-muted', 'uk-tooltip': '', title: user.nickname %>
        </li>
      <% end %>
      <li>Összegzések:</li>
    </ul>
  </div>
  <div class="uk-overflow-container" id="points-table-container">
    <table class="uk-table uk-table-striped uk-table-hover uk-table-condensed uk-text-center" id="points-table">
      <thead class="rotated">
        <tr>
          <% @evaluation.principles.order(:id).each do |principle| %>
            <th class="sortable-column">
              <div>
                <span>
                  <%= principle.name.truncate 20 %>
                </span>
              </div>
            </th>
          <% end %>
          <th class="sortable-column"><div><span>Szumma felelősség</span></div></th>
          <th class="sortable-column"><div><span>Szumma munka</span></div></th>
          <th class="sortable-column"><div><span>Szumma pont</span></div></th>
          <th><div><span>Belépő</span></div></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr data-user="<%= user.id %>">
            <% @evaluation.ordered_principles.each do |principle| %>
              <td class="col-vertical-border">
                <%= user.single_detail(principle)&.point %>
              </td>
            <% end %>
            <td class="col-vertical-border uk-text-bold">
              <%= user.sum_responsibility_point %>
            </td>
            <td class="col-vertical-border uk-text-bold">
              <%= user.sum_work_point %>
            </td>
            <td class="col-vertical-border uk-text-bold">
              <%= user.sum_all_details %>
            </td>
            <td class="col-vertical-border uk-text-bold">
              <%= Rails.configuration.x.entry_types[user.entry_request&.entry_type] %>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot class="uk-text-bold">
        <tr>
          <% @evaluation.ordered_principles.each do |principle| %>
            <td>
              <%= sum_principle_details(@point_details, principle) %>
            </td>
          <% end %>
          <td>
            <%= @evaluation_point_calculator.responsibility_point_sum%>
          </td>
          <td>
            <%= @evaluation_point_calculator.work_point_sum %>
          </td>
          <td>
            <%= @evaluation_point_calculator.all_point_sum %>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="uk-width-1-1 uk-clearfix">
    <div class="uk-float-right uk-text-bold uk-panel uk-panel-box dark uk-margin-right">
      <div class="uk-clearfix">
        Átlag felelősség:
        <div class="uk-float-right uk-margin-left">
          <%= @evaluation_point_calculator.responsibility_point_average %>
        </div>
      </div>
      <div class="uk-clearfix">
        Átlag munka:
        <div class="uk-float-right uk-margin-left">
          <%= @evaluation_point_calculator.work_point_average %>
        </div>
      </div>
      <div class="uk-clearfix">
        Átlag:
        <div class="uk-float-right uk-margin-left">
          <%= @evaluation_point_calculator.all_point_average %>
        </div>
      </div>
    </div>
  </div>
</div>
