<div class="uk-clearfix">
  <div class="uk-float-left uk-margin-left">
    <h3>Félév</h3>
  </div>
  <div class="uk-float-right uk-margin-right">
    <h3>Felvételi pont</h3>
  </div>
</div>

<div class="uk-accordion" data-uk-accordion="{collapse:false, showfirst:false}">
  <% years_with_points(@user_presenter.point_history) do |year| %>
  <div class="uk-accordion-title uk-clearfix">
    <div class="uk-float-left">
      <%= year.to_readable %>
    </div>
    <div class="uk-float-right uk-text-center" style="width: 110px">
      <%= user_point_for_year(year.to_s, @user_presenter) %>
    </div>
  </div>

  <div class="uk-accordion-content">
    <ul class="uk-list uk-list-line">
      <% user_detailed_point_history(@user_presenter.pointrequests, year) do |point_history| %>
      <% point_history_presenter = PointHistoryDecorator.decorate(point_history) %>
      <li>
        <div class="uk-clearfix">
          <div class="uk-float-left uk-text-bold">
            <%= point_history_presenter.group_link %>
          </div>
          <div class="uk-float-right uk-text-center" style="width: 110px">
            <div>
              <%= point_history_presenter.point %>
            </div>
            <div class="uk-float-right uk-visible-small" style="width: 110px">
              <%= point_history_presenter.entry_card_type %>
            </div>
          </div>
          <div class="uk-float-right uk-text-center uk-hidden-small" style="width: 110px">
            <%= point_history_presenter.entry_card_type %>
          </div>
        </div>
        <%= point_history_presenter.explanation %>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>
