<h2>Adatok</h2>

<%= form_for @user, as: :profile, url: profile_path(@user.screen_name), html: {class: 'uk-form uk-form-horizontal'} do |f| %>
  <%= render 'form_errors', errors: f.object.errors %>
  <div class="uk-form-row">
    <%= f.label :lastname, class: "uk-form-label form-label-required" %>
    <div class="uk-form-controls profile-control-public">
      <%= f.text_field :lastname, class: 'uk-input uk-width-1-1', required: true %>
    </div>
  </div>

  <div class="uk-form-row">
    <%= f.label :firstname, class: "uk-form-label form-label-required" %>
    <div class="uk-form-controls profile-control-public">
      <%= f.text_field :firstname, class: 'uk-input uk-width-1-1', required: true %>
    </div>
  </div>

  <div class="uk-form-row">
    <%= f.label :nickname, class: "uk-form-label" %>
    <div class="uk-form-controls profile-control-public">
      <%= f.text_field :nickname, class: 'uk-input uk-width-1-1' %>
    </div>
  </div>

  <div class="uk-form-row">
    <%= f.label :gender, class: "uk-form-label" %>
    <div class="uk-form-controls uk-form-controls-text">
      <%= f.select :gender,
                    options_for_select(Rails.configuration.x.genders.invert, f.object.gender),
                    {}, class: 'uk-select uk-width-8-10' %>

      <%= f.label :private, 'Látszik' %>
      <%= check_box_tag 'private', 'GENDER', Privacy.for(@user, 'GENDER').visible,
              class: 'privacy-setting', user: @user.id %>
    </div>
  </div>

  <div class="uk-form-row">
    <%= f.label :date_of_birth, class: "uk-form-label" %>
    <div class="uk-form-controls uk-form-controls-text">
      <%= f.text_field :date_of_birth, class: 'uk-input uk-width-8-10', :data => { 'uk-datepicker' => "{format:'YYYY-MM-DD'}" } %>

      <%= f.label :private, 'Látszik' %>
      <%= check_box_tag 'private', 'DATE_OF_BIRTH', Privacy.for(@user, 'DATE_OF_BIRTH').visible,
                class: 'privacy-setting', user: @user.id %>
    </div>
  </div>

  <div class="uk-form-row">
    <%= f.label :home_address, class: "uk-form-label" %>
    <div class="uk-form-controls uk-form-controls-text">
      <%= f.text_field :home_address, class: 'uk-input uk-width-8-10' %>

      <%= f.label :private, 'Látszik' %>
      <%= check_box_tag 'private', 'HOME_ADDRESS', Privacy.for(@user, 'HOME_ADDRESS').visible,
                class: 'privacy-setting', user: @user.id %>
    </div>
  </div>

  <div class="uk-form-row">
    <%= f.label :email, class: "uk-form-label" %>
    <div class="uk-form-controls uk-form-controls-text">
      <%= f.text_field :email, class: 'uk-input uk-width-8-10' %>

      <%= f.label :private, 'Látszik' %>
      <%= check_box_tag 'private', 'EMAIL', Privacy.for(@user, 'EMAIL').visible,
                class: 'privacy-setting', user: @user.id %>
    </div>
  </div>

  <div class="uk-form-row">
    <%= f.label :cell_phone, class: "uk-form-label" %>
    <div class="uk-form-controls uk-form-controls-text">
      <%= f.text_field :cell_phone, class: 'uk-input uk-width-8-10' %>

      <%= f.label :private, 'Látszik' %>
      <%= check_box_tag 'private', 'CELL_PHONE', Privacy.for(@user, 'CELL_PHONE').visible,
                class: 'privacy-setting', user: @user.id %>
    </div>
  </div>

  <div class="uk-form-row">
    <%= f.label :webpage, class: "uk-form-label" %>
    <div class="uk-form-controls uk-form-controls-text">
      <%= f.text_field :webpage, class: 'uk-input uk-width-8-10' %>

      <%= f.label :private, 'Látszik' %>
      <%= check_box_tag 'private', 'WEBPAGE', Privacy.for(@user, 'WEBPAGE').visible,
                class: 'privacy-setting', user: @user.id %>
    </div>
  </div>

  <div class="uk-form-row">
    <%= f.label :dormitory, class: "uk-form-label" %>
    <div class="uk-form-controls uk-form-controls-text">
      <%= f.select :dormitory,
                    options_for_select(Rails.configuration.x.dorms.invert, f.object.dormitory),
                    {}, class: 'uk-select uk-width-8-10' %>

      <%= f.label :private, 'Látszik' %>
      <%= check_box_tag 'private', 'ROOM_NUMBER', Privacy.for(@user, 'ROOM_NUMBER').visible,
                class: 'privacy-setting', user: @user.id %>
    </div>
  </div>

  <div class="uk-form-row">
    <%= f.label :room, class: "uk-form-label" %>
    <div class="uk-form-controls profile-control-public">
      <%= f.text_field :room, class: 'uk-input uk-width-1-1' %>
    </div>
  </div>

  <div class="uk-text-center uk-margin-top">
    <div class="inline-block">
      <input class="uk-button" type="submit" value="Módosítás" name="submitButton" />
    </div>
  </div>
<% end %>
