<% stylesheet 'profile' %>

<div id="content-main" class="profile-container">
  <div class="uk-height-viewport uk-responsive-width">
    <h1 class="uk-h1"><%= @user_presenter.compact_name %></h1>
    <div class="uk-container-center uk-panel uk-panel-box">
      <div class="uk-grid uk-flex-middle">

        <figure class="uk-overlay uk-width-medium-1-3 uk-flex-center uk-padding-large uk-overlay-hover">
          <%= image_tag photo_path(@user_presenter.screen_name),
            class: "uk-thumbnail uk-width-expand", alt: @user_presenter.full_name,
            id: 'profile-picture' %>
          <%= @user_presenter.edit_profile_picture_button %>
        </figure>

        <div class="uk-width-medium-1-3 uk-flex-center">
          <h2 class="uk-h2">
            Adatlap
            <a id="share-profile" title="Profil link másolása"
              data-link="<%= profile_url(@user_presenter.screen_name) %>"
              class="uk-icon-hover uk-icon-share uk-text-middle uk-text-small"></a>
          </h2>
          <%= @user_presenter.room %>
          <%= @user_presenter.cell_phone %>
          <%= @user_presenter.email %>
          <%= @user_presenter.webpage %>
          <%= @user_presenter.home_address %>
          <%= @user_presenter.date_of_birth %>
          <%= @user_presenter.gender %>
          <% @user_presenter.im_accounts.each do |im_account| %>
            <%= im_account.account %>
          <% end %>
          <%= @user_presenter.delegated_for %>
          <% if Rails.env.development?  && current_user.id != @user_presenter.id %>
            <%= form_tag(impersonate_user_path) do %>
              <%= hidden_field_tag :user_id, @user_presenter.id %>
              <%= submit_tag "Impersonate this user", class: 'uk-button uk-button-primary uk-margin-small uk-margin-left' %>
            <% end %>
          <% end %>
        </div>

        <div class="uk-width-1-1 uk-margin-top">
          <h2 class="uk-h2">Közösség</h2>
          <ul class="uk-tab uk-margin" data-uk-tab="{connect:'#profile-data'}">
            <li>
              <a class="uk-button uk-text-muted" href="">Tagságok</a>
            </li>
            <li>
              <a class="uk-button uk-text-muted" href="">Történet</a>
            </li>
          </ul>

          <ul id="profile-data" class="uk-switcher">
            <li>
              <%= render "group_membership" %>
            </li>
            <li>
              <%= render "point_history" %>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
