<div class="uk-height-viewport uk-responsive-width">
  <div class="uk-container-center">
    <div class="uk-panel uk-panel-box">
      <h3 class="uk-panel-title">
        Adatlap
        <%= @user_presenter.nickname %>
      </h3>

      <%= image_tag photo_path(@user_presenter.screen_name), class: "uk-thumbnail", alt: @user_presenter.full_name %>

      <h3 class="uk-h3">
        <%= @user_presenter.full_name %>
      </h3>

      <% if Privacy.for(@user_presenter, 'EMAIL').visible %>
          <%= @user_presenter.email %>
      <% end %>
      <% if Privacy.for(@user_presenter, 'ROOM_NUMBER').visible %>
          <%= @user_presenter.room %>
      <% end %>
      <% if Privacy.for(@user_presenter, 'CELL_PHONE').visible %>
          <%= @user_presenter.cell_phone %>
      <% end %>

    </div>
  </div>
</div>
