<div class="uk-height-viewport uk-responsive-width">
	<div class="uk-container-center"><!-- uk-scrollable-box uk-height-viewport uk-responsive-width">-->
		<div class="uk-panel uk-panel-box">
			<h3 class="uk-panel-title">Adatlap - <%= @user.full_name %></h3>
			<!--<nav class="uk-navbar uk-hidden-small uk-width" style="width:282px;">
				<ul class="uk-navbar-nav">
					<li class="uk-active"><a href="">Profil</a></li>
					<li><a href="">Közösségi profil</a></li>
					<li><a href="">Közösségi történet</a></li>
				</ul>
			</nav>
-->
			<%= image_tag photo_path(@user.screen_name), class: "uk-thumbnail", alt: @user.screen_name %>
			<h3 class="uk-h3"><%= @user.full_name %></h3>
			<h4 class="uk-h4"><%= @user.email %></h4>
			<h4 class="uk-h4"><%= @user.dormitory %> <%= @user.room %></h4>
			<h4 class="uk-h4"><%= @user.cell_phone %></h4>

		</div>
	</div>
</div>
