<div class="uk-height-viewport uk-responsive-width">
  <div class="uk-container-center">
    <div class="uk-panel uk-panel-box">
      <h3 class="uk-panel-title">
        Adatlap
        <% if not @user.nickname.nil? || @user.nickname.empty? %>
          - <%= @user.nickname %>
        <% end %>
      </h3>

      <%= image_tag photo_path(@user.screen_name), class: "uk-thumbnail", alt: @user.screen_name %>
      <h3 class="uk-h3"><%= @user.full_name %></h3>

      <% if not @user.email.nil? || @user.email.empty? %>
        <h4 class="uk-h4"><%= @user.email %></h4>
      <% end %>

      <% if not @user.dormitory.nil? || @user.dormitory.empty? %>
        <h4 class="uk-h4"><%= @user.dormitory + ' ' + @user.room %></h4>
      <% end %>

      <% if not @user.cell_phone.nil? || @user.cell_phone.empty? %>
        <h4 class="uk-h4"><%= @user.cell_phone %></h4>
      <% end %>

      <!--Concept of group listing-->

      <!--nav class="uk-navbar uk-hidden-small uk-width" style="width:282px;">
        <ul class="uk-navbar-nav">
          <li class="uk-active"><a href="">Körök</a></li>
          <li><a href="">Közösségi történet</a></li>
        </ul>
      </nav-->

      <!--table class="uk-table uk-table-striped uk-table-hover">
        <thead>
            <tr>
              <th>Körök</th>
               <th>Tagság</th>
            </tr>
        </thead>
        <tbody id="groups">
          <tr>
            <td><%= link_to "KirDev", root_url %></td>
            <td>Körvezető</td>
          </tr>
          <tr>
            <td><%= link_to "Americano", root_url %></td>
            <td>Gazdaságis</td>
          </tr>
        </tbody>
        <tfoot>
            <tr>
                <td><a href="">Többi megjelenítése</a></td>
            </tr>
        </tfoot>
      </table-->
    </div>
  </div>
</div>
