<div class="uk-height-viewport uk-responsive-width">
  <div class="uk-container-center">
    <div class="uk-panel uk-panel-box">
      <h3 class="uk-panel-title">
        Adatlap
        <%= @user_presenter.nickname %>
      </h3>

      <%= image_tag photo_path(@user_presenter.screen_name), class: "uk-thumbnail", alt: @user_presenter.full_name %>

      <h3 class="uk-h3">
        <%= @user_presenter.full_name %>
      </h3>

      <%= @user_presenter.email %>
      <%= @user_presenter.room %>
      <%= @user_presenter.cell_phone %>

    </div>
  </div>
</div>
