<% groups.each do |group| %>
    <%= render 'groups/group_list_item', group: group %>
<% end %>
<% users.each do |user| %>
  <li class="uk-panel-box uk-grid uk-grid-collapse dark user-search user-result hover uk-padding-remove" onclick="window.location='<%= profile_path(user.screen_name) %>'">
    <div class="thumbnail">
      <%= image_tag photo_path(user.screen_name), class: 'uk-thumbnail' %>
    </div>
    <div class="uk-padding-small next-to-thumbnail">
      <div>
        <%= user.link_with_compact_name class: 'uk-text-large' %>
      </div>
      <div class="uk-text-break">
        <%= user.room %>
      <div>
    </div>
  </li>
<% end %>
