<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>PekNext</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    'svie_member_request_pdf.css' %>
</head>

<body>
<table class="uk-table">
  <tr>
    <th class="uk-width-1-3">
      <%= image_tag 'schlogo.png', style: "height:100px" %>
    </th>
    <th class="uk-width-1-3">
      <h2 style="text-align: center;"><%= @title %></h2>
    </th>
    <th class="uk-width-1-3"></th>
  </tr>
</table>

<div>
  <%= render "svie/pdf/#{@type}" %>
</div>
<table class="uk-table">
  <tr class="row">
    <th class= "col">
      Budapest, 20__. ____________ __.
    </th>
    <th class="col">
      <hr>
      Aláírás
    </th>
  </tr>
</table>
<hr>
<p>Tanúsítjuk, hogy jelen nyilatkozat a Nyilatkozó jelenlétünkben írta alá, illetve aláírását a
  sajátjának ismerte el.</p>

<table class="uk-table">
  <tr class="row">
    <th class="col">
      <hr>
      Név
    </th>
    <th class="col">
      <hr>
      Név
    </th>
  </tr>
  <tr class="row">
    <th class="col">
      <hr>
      Lakcím
    </th>
    <th class="col">
      <hr>
      Lakcím
    </th>
  </tr>
  <tr class="row">
    <th class="col">
      <hr>
      Aláírás
    </th>
    <th class="col">
      <hr>
      Aláírás
    </th>
  </tr>
</table>

</body>

</html>
