<% stylesheet 'profile' %>

<h1>Elsődleges kör beállítás</h1>
<div id="content-main" class="uk-panel uk-panel-box">
  <div class="uk-width-medium-1-2 uk-container-center uk-overflow-container">
    <h2>Elsődleges kör</h2>
    <%= form_tag svie_update_path, name: 'membershipform', class: 'uk-form uk-margin-top uk-form-horizontal' do %>
      <div class="uk-clearfix">
        <label class="uk-float-left">SVIE köreid:</label>
        <div class="uk-float-right">
          <%= select :svie, :primary_membership, @svie_memberships.map { |m| [m.group.name, m.id] },
          selected: current_user.svie_primary_membership %>
        </div>
      </div>

      <div class="uk-width-1-1 uk-width-medium-1-2 uk-margin uk-align-center">
        <%= submit_tag 'Mentés', class: 'uk-button uk-width-1-1' %>
      </div>
    <% end %>

    <h2>SVIE tagság</h2>
    <div class="uk-alert uk-width-1-1">
      SVIE tagság típusa: <%= Rails.configuration.x.svie_member_types[current_user.svie_member_type] %>
    </div>

    <% if current_user.svie.member? %>

    <div class="uk-grid uk-margin">
      <div class="uk-width-medium-1-1 uk-width-1-1">
        <% if current_user.svie.can_join_to?(SvieUser::NOT_MEMBER) %>
          <div class="uk-grid">
            <div class="uk-width-medium-2-3">
              Tagság megszüntetésének kezdeményezése
            </div>
            <div class="uk-width-medium-1-3">
              <%= button_to 'Kérvény leadása', { action: :destroy },
                class: 'uk-button uk-width-expand uk-button-primary',
                data: { confirm: 'Biztos vagy benne?', disable_with: 'töltés...' } %>
            </div>
          </div>
        <% end %>
        <% if current_user.svie.can_join_to?(SvieUser::OUTSIDE_MEMBER) %>
          <div class="uk-grid">
            <div class="uk-width-medium-2-3">
              Külső taggá válás kezdeményezése
            </div>
            <div class="uk-width-medium-1-3">
              <%= button_to 'Kérvény leadása', { action: :outside },
                class: 'uk-button uk-width-expand uk-button-primary',
                data: { confirm: 'Biztos vagy benne?', disable_with: 'töltés...' } %>
            </div>
          </div>
        <% end %>

        <% if current_user.svie.can_join_to?(SvieUser::INSIDE_MEMBER) %>
          <div class="uk-grid">
            <div class="uk-width-medium-2-3">
              Rendes taggá válás kezdeményezése
            </div>
            <div class="uk-width-medium-1-3">
              <%= button_to 'Kérvény leadása', { action: :inside },
                class: 'uk-button uk-width-expand uk-button-primary',
                data: { confirm: 'Biztos vagy benne?', disable_with: 'töltés...' } %>
            </div>
          </div>
        <% end %>

      </div>
    </div>
    <% end %>
    <% if current_user.svie.in_processing? %>
      <h2>
        <%= Rails.configuration.x.svie_member_types[current_user.svie_post_request.member_type] %>gá válási kérvényed feldolgozás alatt van.
      </h2>
      <p>A regisztrációs folyamat befejezéséhez két lehetőséged van: Ha ki tudod nyomtatni, akkor aláírod a kérvényt és leadod Grétinek a Schönherz 1719-es irodájában (megtehetitek, hogy többet adtok le egyszerre, nem kell személyesen jelen lenni).</p>
      <p>Ha nem tudod vagy nem akarod kinyomtatni, akkor keresd Grétit a Schönherz 1719-es irodájában, ő kinyomtatja helyetted, ekkor viszont ott kell lenned személyesen, hogy alá tudd írni.</p>

      <div class="uk-width-1-1 uk-width-medium-1-2 uk-margin uk-align-center">
        <%= button_to "Kérvény letöltése", svie_pdf_path,
          method: :get, class: "uk-button uk-button-success uk-width-expand"%>
      </div>
    <% end %>

  </div>
</div>
