<% stylesheet 'profile' %>

<h1>Elsődleges kör beállítás</h1>
<div id="content-main" class="uk-panel uk-panel-box">
  <div class="uk-width-medium-1-2 uk-container-center uk-overflow-container">
    <div class="uk-alert uk-width-1-1">
      SVIE tagság típusa: <%= t current_user.svie_member_type %>
    </div>

    <%= form_tag svie_update_path, name: 'membershipform', class: 'uk-form uk-margin-top uk-form-horizontal' do %>
      <div class="uk-clearfix">
        <label class="uk-float-left">SVIE köreid:</label>
        <div class="uk-float-right">
          <%= select :svie, :primary_membership, @svie_memberships.map { |m| [m.group.name, m.id] },
          selected: current_user.svie_primary_membership %>
        </div>
      </div>

      <div class="uk-width-1-1 uk-width-medium-1-2 uk-margin uk-align-center">
        <%= submit_tag 'Mentés', class: 'uk-button uk-width-1-1' %>
      </div>
    <% end %>
    <div class="uk-width-1-1 uk-width-medium-1-2 uk-margin uk-align-center">
      <%= button_to 'Tagság megszüntetése', { action: :destroy }, class: 'uk-button uk-width-expand uk-button-danger', data: { confirm: 'Biztos vagy benne?', disable_with: 'töltés...' } %>
    </div>

  </div>
</div>
