<% stylesheet 'profile' %>

<div id="content-main" class="neutral-container">
  <div class="uk-height-viewport uk-responsive-width">
    <h1 class="uk-h1">Jelentkezés leadása</h1>
    <div class="uk-container-center uk-panel uk-panel-box">
      <h2 class="uk-h2"><%= current_user.full_name %></h2>
      <h4 class="uk-h4">Jelentkezéshez szükséges adatok</h4>
      <p>Belsős tag: BME-VIK-es aktív, nappali hallgatói jogviszonnyal rendelkező hallgató</p>
      <p>Öregtag: BME-VIK-en tanult hallgató, aki már nem szeretne aktív lenni az egyesületben</p>
      <p>Külsős tag: A fentiekbe nem tartozó személy</p>
      <%= form_tag svie_index_path, method: :post, class: 'uk-form' do %>
        <div class="uk-width-medium-1-2 uk-container-center uk-overflow-container">
          <table class="uk-table">

            <tr>
              <td><%= label_tag :home_address, 'Lakcím:' %></td>
              <td><%= text_field_tag :home_address, current_user.home_address, class: 'uk-input uk-width-expand' %></td>
            </tr>
            <tr>
              <td><%= label_tag :mother_name, 'Anyja neve:' %></td>
              <td><%= text_field_tag :mother_name, current_user.mother_name, class: 'uk-input uk-width-expand' %></td>
            </tr>
            <tr>
              <td><%= label_tag :email, 'Email cím:' %></td>
              <td><%= text_field_tag :email, current_user.email, class: 'uk-input uk-width-expand' %></td>
            </tr>
            <tr>
              <td><%= label_tag :svie_member_type, 'Tagság típusa' %></td>
              <td> <%= select_tag :svie_member_type, options_for_select(Rails.configuration.x.selectable_svie_member_types.invert), class: 'uk-input uk-width-expand' %></td>
            </tr>
          </table>
          <div class="uk-text-center">
            <div class="inline-block">
              <%= submit_tag 'Tovább', class: 'uk-button'  %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
