<div class="">
  <h2>Megbízottak</h2>
  <ul>
    <% @users.each do |user| %>
      <li class="uk-panel-box uk-grid uk-grid-collapse dark user-search user-result hover uk-padding-remove"
          id="rvt-helper-user-<%= user.id %>">
        <div class="thumbnail">
          <%= image_tag photo_path(user.screen_name), class: 'uk-thumbnail' %>
        </div>
        <div class="uk-padding-small next-to-thumbnail">
          <div>
            <%= user.link_with_compact_name class: 'uk-text-large' %>
          </div>
          <div class="uk-text-break">
            <%= user.room %>
          </div>
          <%= content_tag(:a, 'Eltávolít', type: :button, class: 'uk-button uk-button-danger', onClick: "removeRvtHelper(#{user.id})") %>
        </div>
      </li>
    <% end %>
  </ul>
</div>