<%= render 'form_errors', errors: @errors || [] %>
<div class="uk-height-1-1">
    <div class="uk-vertical-align uk-text-center uk-height-1-1">
        <div class="uk-vertical-align-middle" style="width: 250px;">
            <div class="uk-panel uk-panel-box rounded-border">
                <h2>Regisztráció</h2>

                <%= form_for User.new, url: registration_path do |f| %>
                    <div class="uk-form-row">
                        <%= f.text_field :screen_name, required: true, class: "uk-width-1-1 uk-form-large", placeholder: "Felhasználónév" %>
                    </div>
                    <div class="uk-form-row">
                        <%= f.label :dormitory, class: "uk-form-label" %>
                        <%= f.select :dormitory, options_for_select(Rails.configuration.x.dorms), {include_blank: true}, class: "uk-width-1-1 uk-form-large uk-form-controls" %>
                    </div>
                    <div class="uk-form-row">
                         <%= f.number_field(:room, class: "uk-width-1-1 uk-form-large", placeholder: "Szobaszám") %>
                    </div>
                    <div class="uk-form-row">
                        <%= f.submit("Mehet!", class: "uk-width-1-1 uk-button uk-button-primary uk-button-large") %>
                    </div>
                <% end %>

            </div>
        </div>
    </div>
</div>
