<div id="content-main" class="neutral-content">
  <div class="uk-width-1-1 uk-width-medium-1-2 uk-container-center uk-panel uk-panel-box uk-margin-top">
    <div class="uk-text-center">
      <h2>Regisztráció</h2>
      Az auth.sch alapján még nem vagy beregisztrálva az oldalra, ezt itt
      pótolhatod. Amennyiben bármilyen hibát észlelsz, kérlek
      <a href="https://support.sch.bme.hu">itt</a> jelezd.
    </div>

    <%= form_for @user, url: registration_path,
      html: {class: 'uk-form uk-form-horizontal uk-margin-top'} do |f| %>
      <%= render 'form_errors', errors: f.object.errors %>

      <div class="uk-form-row">
        <%= f.label :screen_name, 'Url', class: 'uk-width-1-1 uk-form-label form-label-required' %>
        <%= f.text_field :screen_name, required: true, autofocus: true,
          class: 'uk-width-1-1 uk-form-large', id: 'url-input', placeholder: 'Url' %>
      </div>

      <div class="uk-text-muted uk-text-right" id="url-description">
        Ezen lesz elérhető a profilod a 'pek.sch.bme.hu/profiles/' alatt.
      </div>

      <div class="uk-form-row">
        <%= f.label :dormitory, class: 'uk-form-label form-label-required' %>
        <%= f.select :dormitory, options_for_select(Rails.configuration.x.dorms.invert),
          {}, {class: 'uk-width-1-1 uk-select'} %>
      </div>

      <div class="uk-form-row">
        <%= f.label :room, class: 'uk-form-label form-label-required' %>
        <%= f.text_field :room, class: 'uk-width-1-1 uk-form-large', placeholder: 'Szobaszám' %>
      </div>

      <div class="uk-text-center">
        <div class="inline-block">
          <%= f.submit 'Mehet!', class: 'uk-button uk-width-1-1 uk-width-medium-1-2 uk-margin-top' %>
        </div>
      </div>

    <% end %>
  </div>
</div>
