<div class="uk-form uk-form-horizontal">
  <div class="uk-form-row uk-margin-small-bottom uk-margin-top-remove">
    <label class="uk-form-label form-label-required uk-margin-remove">Név</label>
    <div class="uk-form-controls">
      <%= @viewmodel.group.name %>
    </div>
  </div>

  <div class="uk-form-row uk-margin-small-bottom uk-margin-top-remove">
    <label class="uk-form-label form-label-required uk-margin-remove">Alapítási éve</label>
    <div class="uk-form-controls">
      <%= @viewmodel.group.founded %>
    </div>
  </div>

  <div class="uk-form-row uk-margin-small-bottom uk-margin-top-remove">
    <label class="uk-form-label form-label-required uk-margin-remove">Svie tag</label>
    <div class="uk-form-controls">
      <%= @viewmodel.group.svie_state %>
    </div>
  </div>

  <div class="uk-form-row uk-margin-small-bottom uk-margin-top-remove">
    <label class="uk-form-label form-label-required uk-margin-remove">Szülő</label>
    <div class="uk-form-controls">
      <%= @viewmodel.group.parent %>
    </div>
  </div>

  <div class="uk-form-row uk-margin-small-bottom uk-margin-top-remove">
    <label class="uk-form-label form-label-required uk-margin-remove">Weboldal</label>
    <div class="uk-form-controls">
      <%= @viewmodel.group.webpage_link %>
    </div>
  </div>

  <div class="uk-form-row uk-margin-small-bottom uk-margin-top-remove">
    <label class="uk-form-label form-label-required uk-margin-remove">Levelezőlista</label>
    <div class="uk-form-controls">
      <%= @viewmodel.group.maillist %>
    </div>
  </div>

  <div class="uk-form-row uk-margin-small-bottom uk-margin-top-remove">
    <label class="uk-form-label form-label-required uk-margin-remove">Körvezető</label>
    <div class="uk-form-controls">
      <%= @viewmodel.group.group_leader_link %>
    </div>
  </div>

  <div class="uk-form-row uk-margin-small-bottom uk-margin-top-remove">
    <label class="uk-form-label form-label-required uk-margin-remove">Bemutatkozás</label>
    <div class="uk-form-controls">
      <%= @viewmodel.group.formatted_description %>
    </div>
  </div>

  <% if @viewmodel.group.inactive? %>
    <div class="uk-form-row uk-margin-small-bottom uk-margin-top-remove">
      <label class="uk-form-label uk-text-bold">A kör valószínűleg inaktív!</label>
    </div>
  <% end %>

</div>
