<div class="uk-width-1-1 uk-width-medium-1-3">
  <div class="uk-panel uk-panel-box dark">

    <div class="uk-panel-title uk-margin-remove uk-clearfix">
      <div class="uk-padding-remove uk-float-left">
        <%= member.user_link %>
      </div>
      <% if @can_manage_memberships %>
        <div class="uk-float-right">
          <%= member.svie_status_icon %>
          <div class="uk-padding-remove uk-text-right uk-float-right uk-margin-small-left">
            <%= member.edit_post_button(@viewmodel.group) %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="uk-panel-body uk-padding-remove">
      <div class="uk-text-bold"><%= member.posts %></div>
      <div class="uk-clearfix uk-margin-small-bottom">
        <div class="uk-float-right uk-text-bold">
          <%= member.membership_time %>
        </div>
      </div>

      <% if @can_manage_memberships %>
        <div class="uk-flex uk-grid-small uk-width-1-1">
          <%= member.approve_join_button(@viewmodel.group) %>
          <%= member.reject_join_button(@viewmodel.group) %>
          <%= member.inactivate_user_button(@viewmodel.group) %>
          <%= member.reactivate_user_button(@viewmodel.group) %>
          <%= member.archive_user_button(@viewmodel.group) %>
          <%= member.unarchive_user_button(@viewmodel.group) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
