<table class="uk-table uk-table-striped uk-table-hover" id="inactive_users">
<thead>
  <tr>
    <th>Név</th>
    <th>Becenév</th>
    <th>Betöltött poszt</th>
    <th>Tagság kezdete</th>
    <th>Tagság vége</th>
  </tr>
</thead>
<tbody>
  <% inactive_users(@viewmodel.group) do |member| %>
  <tr>
    <td><%= member.full_name %></td>
    <td><%= member.nickname %></td>
    <td>
      <%= member.posts %>
    </td>
    <td><%=l member.membership_start %></td>
    <td><%=l member.membership_end %></td>
    <% if @viewmodel.leader? %>
      <td>
        <%= button_to "Újraaktiválás", group_membership_reactivate_path(@viewmodel.group.id, member.membership_id),
         method: :post, class: "uk-button uk-button-primary uk-button-small", remote: true %>
      </td>
      <td>
        <%= button_to "Törlés", group_membership_path(@viewmodel.group.id, member.membership_id),
        method: :delete, data: {confirm: "Biztos vagy benne?"},
        class: "uk-button-small uk-button-danger uk-button", remote: true %>
      </td>
    <% end %>
  </tr>
  <% end %>
</tbody>
</table>