<% stylesheet 'admin' %>

<h1>Kör szerkesztése</h1>
<div id="content-main" class="uk-panel uk-panel-box">
<div class="uk-width-medium-1-2 uk-container-center uk-overflow-container">
    <%= form_for @group, html: {class: 'uk-form'} do |f| %>
        <%= render 'form_errors', errors: f.object.errors %>

        <table class="uk-table">
          <tr>
            <td><%= f.label :name, class: "form-label-required" %></td>
            <td><%= f.text_field :name, class: 'uk-input uk-width-auto', required: true %></td>
          </tr>

          <tr>
            <td><%= f.label :description %></td>
            <td><%= f.text_area :description, class: 'uk-textarea uk-width-auto', cols: 35, rows: 5 %></td>
          </tr>

          <tr>
            <td><%= f.label :webpage %></td>
            <td><%= f.text_field :webpage, class: 'uk-input uk-width-auto' %></td>
          </tr>

          <tr>
            <td><%= f.label :founded %></td>
            <td><%= f.text_field :founded, class: 'uk-input uk-width-auto' %></td>
          </tr>

          <tr>
            <td><%= f.label :maillist %></td>
            <td><%= f.text_field :maillist, class: 'uk-input uk-width-auto' %>
            </td>
          </tr>

          <tr>
            <td><%= f.label :users_can_apply %></td>
            <td><%= f.check_box :users_can_apply %></td>
          </tr>
        </table>

        <div class="uk-text-center">
            <div class="inline-block">
                <input class="uk-button" type="submit" value="Módosítás" name="submitButton"/>
            </div>
        </div>
    <% end %>
</div>
</div>
