<% stylesheet 'admin' %>

<h1>Kör szerkesztése</h1>
<div id="content-main" class="uk-panel uk-panel-box">
  <div class="uk-width-medium-1-2 uk-container-center uk-overflow-container">
    <%= form_for current_group, html: {class: 'uk-form uk-form-horizontal'} do |f| %>
    <%= render 'form_errors', errors: f.object.errors %>
    <div class="uk-form-row">
      <%= f.label :name, class: 'uk-form-label form-label-required' %>
      <div class="uk-form-controls">
        <%= f.text_field :name, class: 'uk-input uk-width-auto', required: true %>
      </div>
    </div>

    <div class="uk-form-row">
      <%= f.label :description, class: 'uk-form-label' %>
      <div class="uk-form-controls">
        <%= f.text_area :description, class: 'uk-textarea uk-width-auto', cols: 35, rows: 5 %>
      </div>
    </div>

    <div class="uk-form-row">
      <%= f.label :webpage, class: 'uk-form-label' %>
      <div class="uk-form-controls">
        <%= f.text_field :webpage, class: 'uk-input uk-width-auto' %>
      </div>
    </div>

    <div class="uk-form-row">
      <%= f.label :founded, class: 'uk-form-label' %>
      <div class="uk-form-controls">
        <%= f.text_field :founded, class: 'uk-input uk-width-auto' %>
      </div>
    </div>

    <div class="uk-form-row">
      <%= f.label :maillist, class: 'uk-form-label' %>
      <div class="uk-form-controls">
        <%= f.text_field :maillist, class: 'uk-input uk-width-auto' %>
      </div>
    </div>

    <div class="uk-form-row">
      <%= f.label :archived_members_visible, class: 'uk-form-label' %>
      <div class="uk-form-controls">
        <%= f.check_box :archived_members_visible, class: 'uk-align-right' %>
      </div>
    </div>

    <div class="uk-form-row">
      <%= f.label :users_can_apply, class: 'uk-form-label' %>
      <div class="uk-form-controls">
        <%= f.check_box :users_can_apply, class: 'uk-align-right' %>
      </div>
    </div>

    <div class="uk-text-center">
      <div class="inline-block">
        <%= f.submit 'Módosítás', class: 'uk-button uk-margin-top' %>
      </div>
    </div>
    <% end %>
  </div>
</div>
