<div class="uk-height-viewport uk-responsive-width">
  <div class="uk-container-center">
    <div class="uk-panel uk-panel-box">
      <h3 class="uk-panel-title"><%= @viewmodel.group.name %></h3>
      <h2 class="uk-h2">Kör adatai</h2>
      <table>
        <tbody>
        <tr>
          <th class="group-attr">Név</th>
          <td><%= @viewmodel.group.name %></td>
        </tr>
        <tr>
          <th class="group-attr">Alapítási éve</th>
          <td><%= @viewmodel.group.founded %></td>
        </tr>
        <tr>
          <th class="group-attr">Svie tag</th>
          <td><%= @viewmodel.group.issvie ? "Igen" : "Nem" %></td>
        </tr>
        <tr>
          <th class="group-attr">Weboldal</th>
          <td><%= @viewmodel.group.webpage %></td>
        </tr>
        <tr>
          <th class="group-attr">Levelezőlista</th>
          <td><%= @viewmodel.group.maillist %></td>
        </tr>
        <tr>
          <th class="group-attr">Bemutatkozás</th>
          <td><%= @viewmodel.group.description %></td>
        </tr>
        </tbody>
      </table>
      <% if @viewmodel.group.users_can_apply && !@own_membership %>
          <%= form_tag group_memberships_path(@viewmodel.group), {method: 'post'} do %>
              <%= button_tag "Jelentkezés körbe", {class: "uk-button uk-button-primary"} %>
          <% end %>

      <% end %>
      <h2 class="uk-h2">Aktív tagok</h2>
      <%= render "active_users" %>
      <div id="active_users_paginate">
        <%= paginate @active_users, :param_name => 'active_users_page', :remote => true %>
      </div>

      <h2 class="uk-h2">Öregtagok</h2>
      <%= render "inactive_users" %>
      <div id="inactive_users_paginate">
        <%= paginate @inactive_users, :param_name => 'inactive_users_page', :remote => true %>
      </div>
    </div>
  </div>
</div>
