<% stylesheet 'groups' %>

<div id="content-main" class="group-container">
  <div class="uk-responsive-width">
    <h1 class="uk-h1"><%= @viewmodel.group.name %></h1>
    <div class="uk-container-center uk-panel uk-panel-box">
      <div class="uk-grid">
        <div class="uk-width-medium-3-4">
          <h2 class="uk-h2">Kör adatai</h2>
          <%= render 'group_info'%>
        </div>
        <div class="uk-width-medium-1-4">
          <ul class="uk-list uk-list-space">
            <li><%= @viewmodel.edit_group_button %></li>
            <li><%= @viewmodel.edit_group_delegates_button %></li>
            <li><%= @viewmodel.leader_info_button %></li>
            <li><%= @viewmodel.join_group_button %></li>
          </ul>
        </div>
      </div>

      <div class="uk-grid uk-margin-top">
        <div class="uk-width-2-3">
          <h2 class="uk-h2">Tagságok</h2>
        </div>
        <div class="uk-width-1-3 uk-hidden-small">
          <a class="grid uk-icon-th uk-align-right"></a>
          <a class="list uk-icon-bars uk-align-right"></a>
        </div>
      </div>

      <ul class="uk-tab uk-margin" id="membership-tab" data-uk-tab="{connect:'#membership-data'}">
        <li>
          <a class="uk-button uk-text-muted" href="">Aktív tagok</a>
        </li>
        <li>
          <a class="uk-button uk-text-muted" href="">Öreg tagok</a>
        </li>
        <% if @viewmodel.group.archived_members_visible %>
          <li>
            <a class="uk-button uk-text-muted" href="">Archivált tagok</a>
          </li>
        <% end %>
      </ul>

      <ul id="membership-data" class="uk-switcher">
        <li>
          <div class="uk-width-1-1 uk-grid uk-grid-medium uk-margin-large-bottom" data-uk-grid="{gutter: 20}" id="active_users">
            <%= render 'active_users' %>
          </div>
          <div id="active_users_paginate">
            <%= paginate @active_users, :param_name => 'active_users_page', :remote => true %>
          </div>
        </li>
        <li>
          <div class="uk-width-1-1 uk-grid uk-grid-medium uk-margin-large-bottom" data-uk-grid="{gutter: 20}" id="inactive_users">
            <%= render 'inactive_users' %>
          </div>
          <div id="inactive_users_paginate">
            <%= paginate @inactive_users, :param_name => 'inactive_users_page', :remote => true %>
          </div>
        </li>
        <% if @viewmodel.group.archived_members_visible %>
          <li>
            <div class="uk-width-1-1 uk-grid uk-grid-medium uk-margin-bottom" data-uk-grid="{gutter: 20}" id="archived_users">
              <%= render 'archived_users' %>
            </div>
            <div id="archived_users_paginate">
              <%= paginate @archived_users, :param_name => 'archived_users_page', :remote => true %>
            </div>
          </li>
        <% end %>
      </ul>

      <%= @viewmodel.leader_info %>

    </div>
  </div>
</div>
