<% stylesheet 'groups' %>

<div id="content-main" class="group-container">
  <div class="uk-responsive-width">
    <h1 class="uk-h1"><%= @viewmodel.group.name %></h1>
    <div class="uk-container-center uk-panel uk-panel-box">
      <div class="uk-grid">
        <div class="uk-width-medium-3-4">
          <h2 class="uk-h2">Kör adatai</h2>
          <%= render 'group_info'%>
        </div>
        <div class="uk-width-medium-1-4 uk-flex uk-flex-column">
          <%= link_to 'Közösségi történet', group_history_path(@viewmodel.group), class: 'uk-button uk-button-primary uk-width-1-1'%>
          <%= @viewmodel.edit_group_button %>
          <%= @viewmodel.edit_group_delegates_button %>
          <%= @viewmodel.edit_group_post_types_button %>
          <%= @viewmodel.leader_info_button %>
          <%= @viewmodel.join_group_button %>
          <%= @viewmodel.withdraw_membership_button %>
          <%= @viewmodel.new_evaluation_button %>
          <%= @viewmodel.resort_leader_evaluation_button %>
        </div>
      </div>

      <div class="uk-grid uk-margin-top">
        <div class="uk-width-2-3">
          <h2 class="uk-h2">Tagságok (<%= @viewmodel.all_members_count%>)</h2>
        </div>
      </div>

      <ul class="uk-tab uk-margin" id="membership-tab" data-uk-tab="{connect:'#membership-data'}">
        <li>
          <a class="uk-button uk-text-muted" href="#active">Aktív tagok (<%= @viewmodel.active_members_count %>)</a>
        </li>
        <li>
          <a class="uk-button uk-text-muted" href="#inactive">Öregtagok (<%= @viewmodel.inactive_members_count%>)</a>
        </li>
        <% if @viewmodel.group.archived_members_visible ||  @viewmodel.leader?  %>
          <li>
            <a class="uk-button uk-text-muted" href="#archived">Archivált tagok (<%= @viewmodel.archived_members_count%>)</a>
          </li>
        <% end %>
      </ul>

      <ul id="membership-data" class="uk-switcher">
        <li id="active_users">
          <%= render 'active_users' %>
        </li>
        <li id="inactive_users">
          <%= render 'inactive_users' %>
        </li>
        <% if @viewmodel.group.archived_members_visible || @viewmodel.leader?%>
          <li id="archived_users">
            <%= render 'archived_users' %>
          </li>
        <% end %>
      </ul>

      <%= @viewmodel.leader_info %>

    </div>
  </div>
</div>
