<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>email</th>
      <th>neptun</th>
      <th>firstname</th>
      <th>lastname</th>
      <th>nickname</th>
      <th>svie_state</th>
      <th>svie_member_type</th>
      <th>svie_primary_membership</th>
      <th>delegated</th>
      <th>show_recommended_photo</th>
      <th>screen_name</th>
      <th>date_of_birth</th>
      <th>gender</th>
      <th>student_status</th>
      <th>mother_name</th>
      <th>photo_path</th>
      <th>webpage</th>
      <th>cell_phone</th>
      <th>home_address</th>
      <th>est_grad</th>
      <th>dormitory</th>
      <th>room</th>
      <th>confirm</th>
      <th>status</th>
      <th>password</th>
      <th>salt</th>
      <th>lastlogin</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.neptun %></td>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td><%= user.nickname %></td>
        <td><%= user.svie_state %></td>
        <td><%= user.svie_member_type %></td>
        <td><%= user.svie_primary_membership %></td>
        <td><%= user.delegated %></td>
        <td><%= user.show_recommended_photo %></td>
        <td><%= user.screen_name %></td>
        <td><%= user.date_of_birth %></td>
        <td><%= user.gender %></td>
        <td><%= user.student_status %></td>
        <td><%= user.mother_name %></td>
        <td><%= user.photo_path %></td>
        <td><%= user.webpage %></td>
        <td><%= user.cell_phone %></td>
        <td><%= user.home_address %></td>
        <td><%= user.est_grad %></td>
        <td><%= user.dormitory %></td>
        <td><%= user.room %></td>
        <td><%= user.confirm %></td>
        <td><%= user.status %></td>
        <td><%= user.password %></td>
        <td><%= user.salt %></td>
        <td><%= user.lastlogin %></td>
      </tr>
    <% end %>
  </tbody>
</table>
