<div id="content-main" class="profile-container">
  <div class="uk-height-viewport uk-responsive-width">
    <h1 class="uk-h1">Színes belépő bírálás</h1>

    <% @entry_requests.each do |entry_request| %>
      <%= form_with model: entry_request, class: "uk-form uk-container-center uk-panel uk-panel-box uk-margin-bottom" do |form| %>
        <div class="uk-form-row">
          <%= link_to entry_request.user.full_name, profile_path(entry_request.user) %>
          (<%= link_to entry_request.group.name, group_path(entry_request.group) %>)
        </div>
        <div class="uk-form-row">
          <%= form.label :entry_type, "Ajánlások", class: "uk-form-label uk-text-bold" %>
          <span>
              <% Rails.configuration.x.entry_types.each_with_index do |(key, value), index| %>
              <span><%= value %> - 12</span>
              <%= ',' unless index == Rails.configuration.x.entry_types.length - 1 %>
            <% end %>
            </span>
        </div>
        <div class="uk-form-row uk-form-stacked">
          <% @resorts.each do |resort| %>
            <% if current_user.leader_of?(resort) %>
              <%= form.label :recommendation, "Ajánlás (#{resort.name} Vezető)", class: "uk-form-label uk-text-bold" %>
              <%= form.select :entry_type, Rails.configuration.x.entry_types.map { |k, v| [v, k] } %>
            <% end %>
          <% end %>
        </div>
        <div class="uk-form-row">
          <%= form.label :entry_type, "Belépő", class: "uk-form-label uk-text-bold" %>
          <%= form.select :entry_type, Rails.configuration.x.entry_types.map { |k, v| [v, k] } %>
          <%= form.label :entry_type, "Végleges", class: "uk-form-label uk-text-bold uk-margin-left" %>
          <%= form.check_box :finalized %>
        </div>
        <div class="uk-form-row uk-form-stacked">
          <%= form.label :justification, "Indoklás", class: "uk-form-label" %>
          <%= form.text_area :justification, class: "uk-width-1-1", style: "field-sizing: content;" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
