<p id="notice"><%= notice %></p>

<h1>Sub Groups</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Group</th>
    <th colspan="4"></th>
  </tr>
  </thead>

  <tbody>
  <% @sub_groups.each do |sub_group| %>
    <tr>
      <td><%= sub_group.name %></td>
      <td><%= sub_group.group_id %></td>
      <td><%= link_to 'Show', group_sub_group_path(current_group, sub_group) %></td>
      <td><%= link_to 'Edit', edit_group_sub_group_path(current_group, sub_group) %></td>
      <td><%= link_to 'Destroy', group_sub_group_path(current_group, sub_group), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% unless @current_user_subgroup_ids.include?(sub_group.id) %>
        <td><%= button_to 'Csatlakozás', join_group_sub_group_path(current_group, sub_group) %></td>
      <% else %>
        <td><%= button_to 'Kilépés', leave_group_sub_group_path(current_group, sub_group), method: :delete %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sub Group', new_group_sub_group_path(current_group) %>
