<nav class="uk-navbar uk-hidden-small" data-uk-sticky>
  <div class="uk-container uk-container-center">

    <%= link_to image_tag('/img/pek_logo.png', class:'uk-navbar-brand', id: 'pek-logo'), root_url %>

    <div class="uk-navbar-nav uk-padding-remove uk-width-1-2">
      <%= render 'search' %>
    </div>

    <div class="uk-navbar-flip">
      <ul class="uk-navbar-nav uk-light">
        <% if current_user.roles.svie_admin? %>
          <li aria-expanded="false" aria-haspopup="true" class="uk-parent navbar-item" data-uk-dropdown="{pos:'bottom-right'}">
            <a class="nav-button">Admin</a>

            <div class="uk-dropdown uk-dropdown-navbar">
              <ul class="uk-nav uk-nav-navbar">
                <li><%= link_to "Küldöttek export", delegates_path %></li>
              </ul>
            </div>
          </li>
        <% end %>

        <% if current_user.roles.rvt_member? %>
          <li aria-expanded="false" aria-haspopup="true" class="uk-parent navbar-item" data-uk-dropdown="{pos:'bottom-right'}">
            <a class="nav-button">RVT funkciók</a>

            <div class="uk-dropdown uk-dropdown-navbar">
              <ul class="uk-nav uk-nav-navbar"></li>
                <li><%= link_to "SVIE-be jelentkezettek", svie_index_path %></li>
              </ul>
            </div>
          </li>
        <% end %>

        <li aria-expanded="false" aria-haspopup="true" class="uk-parent navbar-item" data-uk-dropdown="">
          <%= link_to "Körök", groups_url, class: "nav-button" %>
        </li>

        <li aria-expanded="false" aria-haspopup="true" class="uk-parent navbar-item" data-uk-dropdown="{pos:'bottom-right'}">
          <%= link_to root_url, class: "nav-button" do %>
            Profilom
            <%= image_tag photo_path(current_user.screen_name), style: "height: 30px;", alt: current_user.full_name, id: 'profile-picture' %>
          <% end %>
          <div class="uk-dropdown uk-dropdown-navbar">
            <ul class="uk-nav uk-nav-navbar">
              <li><%= link_to "Profilom", root_url %></li>
              <li class="uk-nav-divider"></li>
              <li><%= link_to "Szerkesztés", edit_profile_path(current_user.screen_name) %></li>
              <% if current_user.svie.can_join? %>
                <li><%= link_to "SVIE-be jelentkezés", new_svie_path %></li>
              <% else %>
                <li><%= link_to "SVIE tagság", svie_edit_path %></li>
              <% end %>
              <li class="uk-nav-divider"></li>
              <li><%= link_to "Kijelentkezés", logout_path %></li>
            </ul>
          </div>
        </li>

      </ul>
  </div>
  </div>
</nav>

<script type="text/javascript">
  UIkit.notify({
    message : '<a target="_blank" href="https://goo.gl/forms/0pP8bDKAD7jzprPK2">Ez egy beta oldal, itt tudod jelezni az észrevételeidet.</a>',
    status  : 'danger',
    timeout : 0,
    pos     : 'bottom-right'
  });
</script>

<nav class="data-uk-sticky uk-navbar uk-visible-small">
  <div class="uk-nav-content uk-navbar-flip search">
    <%= render 'search' %>
  </div>

  <a href="#off-canvas-menu" class="uk-navbar-toggle" data-uk-offcanvas></a>
</nav>

<!--Off-canvas menu-->
<div id="off-canvas-menu" class="uk-offcanvas uk-visible-small">
  <div class="uk-offcanvas-bar">
    <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav="{multiple:true}">
      <li class="uk-nav-header">PékNext!</li>

      <li class="uk-nav-header">Profil</li>
      <li><%= link_to "Profilom", root_url %></li>
      <li><%= link_to "Szerkesztés", edit_profile_path(current_user.screen_name) %></li>
      <li><%= link_to "SVIE tagság", svie_edit_path %></li>

      <li class="uk-nav-header">Közösség</li>
      <li><%= link_to "Körök", groups_path %></li>

      <% if current_user.roles.rvt_member? %>
      <li class="uk-nav-header">RVT felület</li>
      <li><%= link_to "SVIE-be jelentkezettek", svie_index_path %></li>
      <% end %>

      <% if current_user.roles.svie_admin? %>
      <li class="uk-nav-header">SVIE admin</li>
      <li><%= link_to "Küldöttek export", delegates_path %></li>
      <% end %>

      <li class="uk-nav-divider"></li>
      <li><%= link_to "Kijelentkezés", logout_path %></li>

      <li class="uk-nav-divider"></li>
      <li>
        <div class="uk-container uk-container-center uk-text-center">
          <img src="/kirdev_bw.png" width="70" height="70" title="Kir-Dev" alt="Kir-Dev">
        </div>
      </li>

    </ul>
  </div>
</div>
