<nav class="navbar data-uk-sticky uk-navbar uk-hidden-small">
  <div class="uk-container uk-container-center">

    <%= link_to image_tag('/img/pek_logo.png', class:'uk-navbar-brand', id: 'pek-logo'), root_url %>
    <ul class="uk-navbar-nav">


      <li aria-expanded="false" aria-haspopup="true" class="uk-parent navbar-item" data-uk-dropdown="">
        <%= link_to "Profilom", root_url, class: "nav-button" %>
        <div style="top: 64px; left: 0px;" class="uk-dropdown uk-dropdown-navbar uk-dropdown-bottom">
          <ul class="uk-nav uk-nav-navbar">
            <li><%= link_to "Szerkesztés", edit_profile_path(current_user.screen_name) %></li>
            <li class="uk-nav-divider"></li>
            <li><%= link_to "Kijelentkezés", logout_path %></li>
          </ul>
        </div>
      </li>

      <li aria-expanded="false" aria-haspopup="true" class="uk-parent navbar-item" data-uk-dropdown="">
        <a class="nav-button">Közösség</a>
        <div style="top: 64px; left: 0px;" class="uk-dropdown uk-dropdown-navbar uk-dropdown-bottom">
          <ul class="uk-nav uk-nav-navbar">
            <li><%= link_to "Közösségi történet", root_url %></li>
            <li><%= link_to "SVIE tagság", root_url %></li>
            <li class="uk-nav-divider"></li>
            <li><%= link_to "Körök", groups_path %></li>
            <li><%= link_to "Hierarchia", root_url %></li>
          </ul>
        </div>
      </li>
    </ul>

    <%= render 'search' %>
  </div>
</nav>

<nav class="data-uk-sticky uk-navbar uk-visible-small">
  <%= render 'search' %>

  <a href="#off-canvas-menu" class="uk-navbar-toggle" data-uk-offcanvas></a>
</nav>

<!--Off-canvas menu-->
<div id="off-canvas-menu" class="uk-offcanvas uk-visible-small">
  <div class="uk-offcanvas-bar">
    <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav="{multiple:true}">
      <li class="uk-nav-header">PékNext!</li>

      <li class="uk-nav-header">Profil</li>
      <li><%= link_to "Profilom", root_url %></li>
      <li><%= link_to "Szerkesztés", edit_profile_path(current_user.screen_name) %></li>

      <li class="uk-nav-header">Közösség</li>
      <li><%= link_to "Közösségi történet", root_url %></li>
      <li><%= link_to "SVIE tagság", root_url %></li>
      <li><%= link_to "Körök", groups_path %></li>
      <li><%= link_to "Hierarchia", root_url %></li>

      <li class="uk-nav-divider"></li>
      <li><%= link_to "Kijelentkezés", logout_path %></li>

      <li class="uk-nav-divider"></li>
      <li>
        <div class="uk-container uk-container-center uk-text-center">
          <img src="/kirdev_bw.png" width="70" height="70" title="Kir-Dev" alt="Kir-Dev">
        </div>
      </li>

    </ul>
  </div>
</div>
