<div class="uk-width-medium-1-2 uk-container-center">
    <%=form_tag({action: :save_settings}, {:method => 'post'}) do%>
      <table class="uk-table uk-table-striped uk-table-hover">
        <tr>
            <td><label>Vezetéknév *</label></td>
            <td>
                <%=text_field_tag "lastName", @user.lastname, class:"class", maxlength:40 %>
            </td>
        </tr>
        <tr>
            <td><label>Keresztnév *</label></td>
            <td>
                <%=text_field_tag "firstName", @user.firstname, class:"class", maxlength:40 %>
            </td>
        </tr>
        <tr>
            <td><label>Becenév</label></td>
            <td>
                <%=text_field_tag "nickname", @user.nickname, class:"class", maxlength:40 %>
            </td>
        </tr>
        <tr class="gender_line">
            <td><label>Nem</label></td>
            <td>
                <%=select_tag(:gender, options_for_select(
                  [
                    ['n/a', "UNKNOWN"],
                    ['férfi', "MALE"],
                    ['nő', "FEMALE"],
                    ['nem megadott', "NOTSPECIFIED"]
                  ], selected: @user.gender), { :class => 'gender_radios', :name => 'gender', :id => 'id43'} )
                %>
            </td>
        </tr>
        <tr>
            <td><label for="id44">Születési dátum</label></td>
            <td>
                <%=text_field_tag "dateOfBirth", @user.date_of_birth, class:"class", maxlength:40 %>
            </td>
        </tr>
        <tr>
            <td><label>Cím</label></td>
            <td>
                <%=text_field_tag "homeAddress", @user.home_address, class:"class" %>
            </td>
        </tr>
        <tr>
            <td><label>E-mail *</label></td>
            <td>
                <%=text_field_tag "emailAddress", @user.email, class:"class" %>
            </td>
        </tr>
        <tr>
            <td><label>Mobil</label></td>
            <td>
                <%=text_field_tag "cellPhone", @user.cell_phone, class:"class" %>
            </td>
        </tr>
        <tr>
            <td><label>Weboldal</label></td>
            <td>
                <%=text_field_tag "webpage", @user.webpage, class:"class" %>
            </td>
        </tr>
        <tr>
            <td><label>Kollégium</label></td>
            <td>
                <%=select_tag(:dormitory, options_for_select(
                  [
                    ['Nem megadott', ""],
                    ['Schönherz', "Schönherz"],
                    ['Tétény', "Tétény"],
                    ['Kármán', "Kármán"],
                    ['Vásárhelyi', "Vásárhelyi"],
                    # jelenleg nincs külsős lehetőség
                    ['Külsős', "Külsős"]
                  ], selected: @user.dormitory), { :name => 'dormitory', :id => 'id4e'} )
                %>
            </td>
            </tr>
            <tr>
                <td><label>Szobaszám</label></td>
                <td>
                    <%=text_field_tag "room", @user.room, class:"class" %>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td><label>IM</label></td>
                <td>
                    <table>
                        <tr>
                            <td colspan="2"><input type="submit" class="btn" value="Új" name="rowPanel:imAdd"/></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td><label>Neptun</label></td>
                <td><span><%= @user.neptun %> </span></td>
            </tr>
        </table>
        <div class="uk-text-center">
            <div class="inline-block">
                <input class="uk-button uk-button-success" type="submit" value="Módosítás" name="submitButton"/>
            </div>
        </div>
    <% end %>
    <div class="uk-margin-large-top uk-margin" id="image-upload-container">
        <%= form_tag({action: :settings}, multipart: true) do %>
            <% if @raw_photo %>
                <div class="uk-text-center">
                    <div class="inline-block">
                        <div id="cropper-container">
                            <img src="<%= root_path + @raw_photo %>" id="cropper-img">
                        </div>
                        <button type="button" class="uk-button uk-button-primary uk-margin" onclick="cropDone()">Mehet!</button>
                    </div>
                </div>
            <% else %>
            <div class="uk-text-center">
                <div class="uk-container-center">
                    <label>Fotó: </label>
                    <%= file_field_tag 'rawPhoto' %>
                </div>
                <div class="inline-block uk-margin-top">
                    <input class="uk-button uk-button-success" type="submit" value="Feltöltés" name="submitButton"/>
                </div>
            </div>
            <% end %>
        <% end %>
    </div>
    <div class="uk-margin-large-top uk-margin uk-text-center hidden" id="back-button-container">
        <a class="uk-button uk-button-primary uk-button-large" type="button" href="<%= root_path %>">Vissza</a>
    </div>
</div>
