<div class="uk-width-medium-1-2 uk-container-center">
    <%= form_tag({action: :save_settings}, {method: :post}) do %>
        <table class="uk-table uk-table-striped uk-table-hover">
            <% for attribute in attributes do %>
                <tr>
                    <td><label><%= attribute[:text] %><%= " *" if attribute[:required] %></label></td>
                    <td>
                        <%=
                            if attribute[:type] == :text
                                text_field_tag attribute[:name], current_user["usr_" + attribute[:name]], required: attribute[:required]
                            elsif attribute[:type] == :select
                                select_tag attribute[:name], options_for_select(attribute[:options], selected: current_user["usr_" + attribute[:name]])
                            end
                        %>
                    </td>
                    <td>
                    <% if attribute[:visibility_settings] %>
                        <%= visibility_select(attribute[:name]) %>
                    <% end %>
                    </td>
                </tr>
            <% end %>
        </table>

        <!-- IM accounts -->
        <table>
            <tr>
                <td><label>IM</label></td>
                <td>
                    <table>
                        <tr>
                            <td colspan="2"><input type="submit" class="uk-button" value="Új"/></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td><label>Neptun</label></td>
                <td><span><%= current_user.neptun %> </span></td>
            </tr>
        </table>
        <div class="uk-text-center">
            <div class="inline-block">
                <input class="uk-button uk-button-success" type="submit" value="Módosítás" name="submitButton"/>
            </div>
        </div>
    <% end %>

    <!-- Profile picture upload and cropping -->
    <div class="uk-margin-large-top uk-margin" id="image-upload-container">
        <%= form_tag({action: :settings}, multipart: true) do %>
            <% if @raw_photo %>
                <div class="uk-text-center">
                    <div class="inline-block">
                        <div id="cropper-container">
                            <img src="<%= root_path + @raw_photo %>" id="cropper-img">
                        </div>
                        <button id="crop-finish-button" type="button" class="uk-button uk-button-primary uk-margin">Mehet!</button>
                    </div>
                </div>
            <% else %>
            <div class="uk-text-center">
                <div class="uk-container-center">
                    <label>Fotó: </label>
                    <%= file_field_tag 'rawPhoto' %>
                </div>
                <div class="inline-block uk-margin-top">
                    <input class="uk-button uk-button-success" type="submit" value="Feltöltés" name="submitButton"/>
                </div>
            </div>
            <% end %>
        <% end %>
    </div>
    <div class="uk-margin-large-top uk-margin uk-text-center hidden" id="back-button-container">
        <a class="uk-button uk-button-primary uk-button-large" type="button" href="<%= root_path %>">Vissza</a>
    </div>
</div>
