<div class="uk-width-medium-1-2 uk-container-center">
    <%= form_tag({action: :save_settings}, {:method => 'post'}) do%>
      <table class="uk-table uk-table-striped uk-table-hover">
        <tr>
            <td><label>Vezetéknév *</label></td>
            <td>
                <%= text_field_tag "lastName", @user.lastname, maxlength: 40 %>
            </td>
        </tr>
        <tr>
            <td><label>Keresztnév *</label></td>
            <td>
                <%= text_field_tag "firstName", @user.firstname, maxlength: 40 %>
            </td>
        </tr>
        <tr>
            <td><label>Becenév</label></td>
            <td>
                <%=text_field_tag "nickname", @user.nickname, maxlength: 40 %>
            </td>
        </tr>
        <tr>
            <td><label>Nem</label></td>
            <td>
                <%=select_tag(:gender, options_for_select(
                  [
                    ['n/a', "UNKNOWN"],
                    ['Férfi', "MALE"],
                    ['Nő', "FEMALE"],
                    ['Nem megadott', "NOTSPECIFIED"]
                  ], selected: @user.gender), { :name => 'gender' } )
                %>
            </td>
        </tr>
        <tr>
            <td><label>Születési dátum</label></td>
            <td>
                <%= text_field_tag "dateOfBirth", @user.date_of_birth, maxlength:40 %>
            </td>
        </tr>
        <tr>
            <td><label>Cím</label></td>
            <td>
                <%= text_field_tag "homeAddress",@user.home_address %>
            </td>
        </tr>
        <tr>
            <td><label>E-mail *</label></td>
            <td>
                <%= text_field_tag "emailAddress", @user.email %>
            </td>
        </tr>
        <tr>
            <td><label>Mobil</label></td>
            <td>
                <%= text_field_tag "cellPhone", @user.cell_phone %>
            </td>
        </tr>
        <tr>
            <td><label>Weboldal</label></td>
            <td>
                <%= text_field_tag "webpage", @user.webpage %>
            </td>
        </tr>
        <tr>
            <td><label>Kollégium</label></td>
            <td>
                <%= select_tag(:dormitory, options_for_select(@dorms, selected: @user.dormitory), { :name => 'dormitory', include_blank: true }) %>
            </td>
            </tr>
            <tr>
                <td><label>Szobaszám</label></td>
                <td>
                    <%= text_field_tag "room", @user.room %>
                </td>
            </tr>
            <tr>
                <td><label>IM</label></td>
                <td>
                    <table>
                        <tr>
                            <td colspan="2"><input type="submit" class="uk-button" value="Új"/></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <div class="uk-text-center">
            <div class="inline-block">
                <input class="uk-button uk-button-success" type="submit" value="Módosítás" name="submitButton"/>
            </div>
        </div>
    <% end %>

    <div class="uk-margin-large-top uk-margin" id="image-upload-container">
        <%= form_tag({action: :settings}, multipart: true) do %>
            <% if @raw_photo %>
                <div class="uk-text-center">
                    <div class="inline-block">
                        <div id="cropper-container">
                            <img src="<%= root_path + @raw_photo %>" id="cropper-img">
                        </div>
                        <button type="button" class="uk-button uk-button-primary uk-margin" onclick="cropDone()">Mehet!</button>
                    </div>
                </div>
            <% else %>
            <div class="uk-text-center">
                <div class="uk-container-center">
                    <label>Fotó: </label>
                    <%= file_field_tag 'rawPhoto' %>
                </div>
                <div class="inline-block uk-margin-top">
                    <input class="uk-button uk-button-success" type="submit" value="Feltöltés" name="submitButton"/>
                </div>
            </div>
            <% end %>
        <% end %>
    </div>
    <div class="uk-margin-large-top uk-margin uk-text-center hidden" id="back-button-container">
        <a class="uk-button uk-button-primary uk-button-large" type="button" href="<%= root_path %>">Vissza</a>
    </div>
</div>
