<% stylesheet 'admin' %>

<div id="content-main" class="group-container">
  <div class="uk-responsive-width">
    <h1 class="uk-h1">
      <%= @evaluation.group.name %>
      <span class="uk-text-muted"> - <%= Semester.new(@evaluation.semester).to_readable %></span>
    </h1>
    <div class="uk-container-center uk-panel uk-panel-box">

      <h2>Bírálat</h2>
      <%= render 'form', evaluation: @evaluation %>

      <ul class="uk-tab uk-margin-top" data-uk-tab="{connect:'#evaluation-switcher'}">
        <li>
          <a>Pontozási elvek</a>
        </li>
        <li class="uk-active">
          <a>Pontozás</a>
        </li>
        <li>
          <a>Belépők</a>
        </li>
      </ul>

      <ul id="evaluation-switcher" class="uk-switcher uk-margin-top">
        <li>
          <%= render 'principles' %>
        </li>
        <li>
          <%= render 'point_requests' %>
        </li>
        <li>
          <%= render 'entry_requests' %>
        </li>
      </ul>

    </div>
  </div>
</div>
