<article class="uk-comment uk-panel uk-panel-box uk-panel-box-secondary uk-margin-small-bottom"
         data-comment-id="<%= comment.id %>">
  <header class="uk-comment-header uk-margin-remove">
    <%= comment.image_tag %>
    <h4 class="uk-comment-title uk-margin-remove">
      <%= comment.sender_full_name %>
    </h4>

    <div class="uk-comment-meta">
      <%= comment.edit_button %>
      <%= comment.created_at %>
    </div>
  </header>
  <div class="uk-comment-body pre-wrap"><%= comment.comment %></div>
  <%= comment.closing_status %>
</article>
