<!DOCTYPE html>
<html class="uk-height-1-1">
<head>
  <meta charset="utf-8">
  <title>PekNext</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="uk-height-1-1">

    <% if defined? @error %>
        <div class="uk-alert uk-alert-danger uk-container-center uk-width-2-3 uk-margin-top">
            <p>
            	<% if !@error[:expected] %>
            		Hiba!
            	<% end %>
	            <%= @error[:message] %>
	            <% if !@error[:expected] %>
	            	Kérjük adj fel ticketet a <a href="http://support.sch.bme.hu">support</a> oldalon.
	            <% end %>
	        </p>
        </div>
    <% end %>

<%= yield %>

</body>
</html>
