<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>PekNext</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
  <%= csrf_meta_tags %>
</head>

<body class="uk-height-1-1">

  <%= render 'navbar' %>

  <% if flash.alert %>
    <script>
      UIkit.notify("<%= flash.alert %>", {status:'danger'});
    </script>
  <% end %>

  <% if flash.notice %>
    <script>
      UIkit.notify("<%= flash.notice %>", {status:'success'});
    </script>
  <% end %>

  <div class="uk-container uk-container-center page-wrap" id="content-container">
      <%= yield %>
  </div>

  <%= render 'footer' %>

</body>

</html>
