<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>PekNext</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="uk-height-1-1">

<%= render 'navbar' unless controller_name == 'registration' %>

<% if defined? @error %>
  <div class="uk-alert uk-alert-danger uk-container-center uk-width-2-3 uk-margin-top">
    <p>
      <% if !@error[:expected] %>
        Hiba!
      <% end %>
      <%= @error[:message] %>
      <% if !@error[:expected] %>
        Kérjük adj fel ticketet a <a href="http://support.sch.bme.hu">support</a> oldalon.
      <% end %>
    </p>
  </div>
<% end %>

<div id="content-container">
  <div id="content-main" class="uk-width-large-3-5 uk-container-center">
    <%= yield %>
  </div>
</div>

</body>
</html>
