<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>PekNext</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="uk-height-1-1">

<%= render 'navbar' unless controller_name == 'registration' %>

<% if flash.alert %>
  <div class="uk-alert uk-alert-danger uk-container-center uk-width-2-3 uk-margin-top">
    <p>
      <%= flash.alert %>
    </p>
  </div>
<% end %>

<% if flash.notice %>
  <div class="uk-alert uk-alert-success uk-container-center uk-width-2-3 uk-margin-top">
    <p>
      <%= flash.notice %>
    </p>
  </div>
<% end %>

<div id="content-container">
  <div id="content-main" class="uk-width-large-3-5 uk-container-center">
    <%= yield %>
  </div>
</div>

</body>
</html>
