<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>PéK - Profil és Körök</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    'svie_member_request_pdf.css' %>

  <script defer data-domain="pek.sch.bme.hu" src="https://visit.kir-dev.hu/js/script.js"></script>
</head>

<body>
<%= image_tag 'schlogo.png', class: 'uk-float-left' %>
<div>
  <h1 class="text-center"><%= @title %></h1>
  <%= yield %>
</div>
<table class="uk-table">
  <tr class="row">
    <th class= "col">
      Budapest, 20__. ____________ __.
    </th>
    <th class="col">
      <hr>
      Aláírás
    </th>
  </tr>
</table>
<hr>
<p>Tanúsítjuk, hogy jelen nyilatkozat a Nyilatkozó jelenlétünkben írta alá, illetve aláírását a
  sajátjának ismerte el.</p>

<table class="uk-table">
  <tr class="row">
    <th class="col">
      <hr>
      Név
    </th>
    <th class="col">
      <hr>
      Név
    </th>
  </tr>
  <tr class="row">
    <th class="col">
      <hr>
      Lakcím
    </th>
    <th class="col">
      <hr>
      Lakcím
    </th>
  </tr>
  <tr class="row">
    <th class="col">
      <hr>
      Aláírás
    </th>
    <th class="col">
      <hr>
      Aláírás
    </th>
  </tr>
</table>

</body>

</html>
