<% stylesheet 'evaluation' %>

<h1>Belépőigény indoklások</h1>
<div id="content-main" class="uk-panel uk-panel-box">
  <div class="uk-width-large-2-3 uk-container-center uk-width-1-1">

    <%= form_tag evaluation_justifications_update_path(current_evaluation), class: 'uk-form uk-form-horizontal' do %>
      <% @entry_requests.each do |entry_request| %>

        <div class="uk-form-row">
          <label class="uk-form-label uk-text-bold">
            <%= entry_request.user.full_name %>
            (<%= entry_request.entry_type %>)
          </label>
          <div class="uk-form-controls">
            <%= fields_for "entry_requests[]", entry_request do |er| %>
              <%= er.text_area :justification, class: 'uk-textarea uk-width-1-1', rows: 4 %>
            <% end %>
          </div>
        </div>

      <% end %>

      <div class="uk-form-row uk-text-center">
        <%= submit_tag 'Mentés', class: 'uk-button uk-button-success' %>
      </div>

    <% end %>

  </div>
</div>
