<% stylesheet 'evaluation' %>

<h1>Belépőigény indoklások</h1>
<div id="content-main" class="uk-panel uk-panel-box">
  <div class="uk-width-large-2-3 uk-container-center uk-width-1-1">

    <%= form_tag group_evaluation_justifications_update_path, class: 'uk-form uk-form-horizontal' do %>
      <% @entry_requests.each do |entry_request| %>

        <div class="uk-form-row">
          <label class="uk-form-label uk-text-bold">
            <%= entry_request.user.full_name %>
            (<%= entry_request.entry_type %>)
          </label>
          <div class="uk-form-controls">
            <%= fields_for "entry_requests[]", entry_request do |er| %>
              <%= er.text_area :justification, class: 'uk-textarea uk-width-1-1', rows: 4, readonly: !@can_edit %>
            <% end %>
          </div>
        </div>

      <% end %>

      <%= link_to 'Vissza', group_evaluation_path(@evaluation.group, @evaluation), class: "uk-button uk-margin-top" %>
      <% if @can_edit %>
          <%= submit_tag 'Mentés', class: 'uk-button uk-button-success uk-margin-top uk-align-right' %>
      <% end %>

    <% end %>

  </div>
</div>
